.footer-container {
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: white;
  text-align: center;
}
.navbar {
    display: flex;
    justify-content: space-between;
    height: 10vh;
    background-color: #ADD500;
    text-align: center;
}